
.main-container {
    max-width: 500px;
    margin: 100px auto 100px auto;
    background-color: #fff;
    background-color: rgb(220, 217, 217);
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container-h1 {
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    color: #333;
}

.form-container {
    width: 100%;
}

.list-container {
    width: 100%;
}

.total-p {
    font-size: 18px;
    font-weight: bold;
    margin: 16px 0;
}